.educationPlace {
  display: inline-block;
}
.educationYear {
  color: #EF476F;
  display: inline-block;
}
.educationName {
  color: #E77051;
  font-weight: bold;
  font-size: 16px;
}
.educationContainer {
  margin-bottom: 15px;
}