.experienceRole {
  font-weight: bold;
  font-size: 20px;
  color: #E77051;
}
.experienceYear {
  color: #EF476F;
  display: inline-block;
}
.experienceDesc {
  margin: 5px 0 15px;
}
.experienceCompany {
  display: inline-block;
  font-weight: bold;
}