.skillContainer {
  background-color: #00A1E4;
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 5px;
  color: #FFF;
}
.skillIcon {
  font-size: 8px;
  padding-right: 5px;
  vertical-align: 1px;
}